body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #9e9e9e1c;
}

.bar {width: 100%}

.bar div.field{display:inline-block}

.bar div.fieldColumn{display:inline-block}

.bar input.number{max-width: 3em}

.net {display: inline;}

.bar-card {
  display:inline-block;
  max-width:200px;
  margin: 0 .5%;
  padding: .5%;
}